@import "../../mixin";
@import "../../variable";

.btn {
    cursor: pointer;
    background-size: contain;
    background: none;
    background-position: center;
    background-size: contain;
    display: block;
    border: none;
}