$icon-gradiant: 2.5px linear-gradient rgb(87, 221, 255) to rgb(192, 88, 243);

$active: rgb(58, 123, 253);
$header: #ffffff;

//Light Theme
$light-basic-text: rgb(147, 148, 165);
$light-task-text: rgb(72, 75, 106);
$light-hover-text: rgb(77, 80, 102);
$light-task-active: rgb(210, 211, 219);
$light-input: rgb(210, 211, 219);

$light-close-icon: rgb(210, 211, 219);

$light-border: #d2d3db;

$light-comp-bg: #ffffff;

//Dark Theme
$dark-basic-text: rgb(77, 80, 102);
$dark-task-text: rgb(228, 229, 241);
$dark-hover-text: rgb(255, 255, 255);
$dark-task-active: rgb(77, 80, 102);
$dark-input: rgb(77, 80, 102);

$dark-icons: rgb(77, 80, 102);

$dark-comp-bg: rgb(37, 39, 60);
$dark-doc-body: rgb(22, 23, 34);

$dark-border: rgb(57, 58, 76);

$shadows: 0px 20px 70px rgba(0, 0, 0, 0.1);